@model UPPHercegovina.WebApplication.Models.Township

@{
    ViewBag.Title = "Detalji / Općina";
}

<h2>Detalji</h2>

<div>
    <h4>Općina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Naziv općine</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <label>Entitet</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmjeni", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Nazad na listu", "Index")
</p>
