@{
    ViewBag.Title = "Potvrdi Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Hvala na potvrdi Emaila. Molimo @Html.ActionLink("kliknite ovdje za prijavu", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>