@{
    ViewBag.Title = "Potvrda Emaila";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Hvala Vam na potvrdi Emaila. Molimmo @Html.ActionLink("kliknite ovdje za prijavu", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>