@{
    ViewBag.Title = "Potvrda reseta lozinke";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Lozinka je resetovana. Molimo @Html.ActionLink("kliknite za login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
